/*
  # HEADINGS
*/

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color-headline)
}

h1, h2, h3 {
  margin: .5rem 0
}

/*
  # BOX
*/

.box {
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 4px var(--shadow);
  border: 1px solid var(--border);
  margin: 0 0 2rem 0;
}
