:root {
  --primary-1: #21c2e1;
  --primary-2: #ffffff;
  /*
  --bg-color: #f8f8f8;
  --bg-alt: #070a2b;
  --dark-hover :#121b4b;
  */
  --border: #CDD9ED;
  --border-hover: #99A3BA;
  --text-color: #1d204c;
  --text-color-headline: #070a2b;
  --shadow: rgba(22, 30, 50, .04);
}

* { box-sizing: border-box }

@font-face {
  src: url('./fonts/Rubik.ttf')
  font-family: Rubik,
  font-display: auto
}

@font-face {
  src: url('./fonts/Righteous.ttf')
  font-family: Righteous,
  font-display: auto
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  color: var(--text-color);
  background-color: #f8f8f8;
  font-family: Rubik
}

h1, h2, h3, h4, h5, h6 {
  font-family: Righteous;
  font-weight: normal;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--border-hover)
}

/*
  # HEADER
*/

header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 12px
}

.header__logo {
  display: flex;
  align-items: center;
  gap: .25rem;
  color: var(--primary-1);
  border-radius: 8px;
  font-size: 1.5rem
}

.header__logo-title {
  font-size: 1.6rem;
  color: var(--primary-1);
}

/*
  # HEADER END
*/

/*
  # ALARMS
*/

.alarms {
  position: relative;
  color: var(--text-color);
  padding: 1rem;
  border-radius: 4px;
}

.alarms > h2 {
  font-size: 1.2rem;
  margin: 0 0 1rem 0
}

.alarms__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding-bottom: 3rem;
}

.alarm {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px 1px #f2f2f2;
  transition: .5s ease opacity;
}

.alarm--disabled {
  opacity: .5
}

.alarm__days {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  color: #999
}

.alarm__days-circle {
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  background-color: var(--primary-1);
  margin-right: .5rem;
}

.alarm__time {
  display: flex;
  align-items: flex-end;
  padding-left: 1rem
}

.alarm__time {
  font-size: 2.5rem;
}

.alarm__type-time {
  position: relative;
  top: -6px;
  left: .3rem;
  font-size: 1.25rem;
}

.alarm__type-time::before {
  content: '';
  position: absolute;
  top: -1.75rem;
  left: 0;
  width: 1.75rem;
  height: 1.75rem;
  background-image: url(./icons/day.png);
  background-size: cover;
  border-radius: 100%;
}

.alarm__type-time.sunrise::before {
  background-image: url(./icons/sunrise.png);
}
.alarm__type-time.day::before {
  background-image: url(./icons/day.png);
}
.alarm__type-time.night::before {
  background-image: url(./icons/night.png);
}

.alarm__description {
  padding-left: 1rem;
  color: #999;
}

/*
  # ALARMS END
*/

/*
  # ALARM ACTIONS
*/

.alarm-actions, .alarm-actions__toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .25rem
}

@media screen and (min-width: 767.98px) {
  .alarm-actions {
    place-items: center;
    flex-direction: row;
    gap: 1rem
  }
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.alarm-actions__edit {
  cursor: pointer;
  transition: .2s ease transform;
}

.alarm-actions__edit:hover > img {
  transform: scale(1.05);
}

.alarm-actions__toggle-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 32px;
	height: 16px;
	background-color: #f2f2f2;
	display: block;
	border-radius: 100px;
	position: relative;
}

.alarm-actions__toggle-label::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 24px;
  height: 24px;
  background-color: #b3ccd1;
  border-radius: 90px;
  transition: 0.3s ease background-color, .3s ease transform
}

.alarm-actions__toggle-input:checked + .alarm-actions__toggle-label {
  background-color: #74e3f9
}

.alarm-actions__toggle-input:checked + .alarm-actions__toggle-label:after {
  background-color: #21c2e1;
	transform: translateX(calc(100% - 4px));
}

/*
  # TOGGLE SWITCH
*/

.btn {
  display: block;
  border-radius: 12px;
  background-color: var(--primary-1);
  color: #ffffff;
  text-decoration: none;
  width: fit-content;
  padding: .5rem 1rem;
  cursor: pointer;
}

/*
  # Menu
*/
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .25rem;
  padding-bottom: .5rem;
  background-color: #21c2e1;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -2px 8px 0px #15788b80
}

.menu__button {
  display: flex;
  place-items: center;
  padding: .25rem;
  cursor: pointer;
  position: relative
}

.menu__button--active::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 100%
}

.menu__button--jo-sword {
  border-radius: 100%;
  box-shadow: 0 0 0 #ffffff;
  transition: .2s ease box-shadow
}

.menu__button--displayed {
  box-shadow: 0 0 5px #ffffff
}

.menu__button--main {
  background-color: #ffffff;
  padding: 0;
  transform: scale(1.5);
  border-radius: 100%;
  box-shadow: 0 -2px 6px 0px #15788b80;
  position: relative;
  top: -1rem
}

.menu__button-image {
  padding: .125rem;
  filter: invert(1)
}

.menu__button-image--main,
.menu__button-image--jo-sword {
  filter: invert(0)
}

/*
  # Page
*/
.page-transition--animation-inverted {
  position: fixed;
  top: 0;
  left: 0
}

.page-header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 0.5rem;
  padding: 1rem;
}

.page-header__action {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page-header__action-btn {
  display: flex;
  align-items: center;
}

.page-header__close-icon {
  cursor: pointer;
}

.page-header__close-icon:hover {
  transform: scale(1.05)
}

.page-content {
  padding: 0 1rem
}

/*
  # Page Transition Hidden
*/
.page-transition {
  transition: .3s transform, .3s .1s opacity
}
.page-transition--animation {
  transform: translateX(100vw);
  opacity: 0
}

.page-transition--animation-inverted {
  transform: translateX(-100vw)
}

.page-transition--hidden {
  display: none
}

/*
  # VENDOR
*/
.vendors-information {
  display: grid;
  grid-template-columns: 1fr;
  width: calc(100% - 2rem);
  position: fixed;
  bottom: 72px;
  right: 1rem;
  background-color: var(--primary-1);
  padding: .5rem;
  border-radius: 12px;
  transform: translateX(150vw);
  opacity: 0;
  transition: .2s ease transform, .2s .1s ease opacity;
}

.vendors-information--displayed {
  opacity: 1;
  transform: translateX(0)
}

@media screen and (min-width: 441.98px) {
  .vendors-information {
    width: auto
  }
}

.vendors-information__title {
  color: #ffffff;
  margin: .25rem;
  font-size: 1rem
}

.vendors-information__hr {
  margin: .125rem;
  border-color: #ffffff
}

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem
}

.technology {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology--svelte {
  border-radius: 8px;
  background: #fff;
}
